

@media(max-width:1920px){
	.container{
		width: 1140px;
		margin: 0 auto;
	}
}
@media(max-width:1840px){
	.container{
		width: 1140px;
		margin: 0 auto;
	}
}

@media(max-width:1740px){
	.container{
		width: 1140px;
		margin: 0 auto;
	}
}
@media(max-width:1640px){
	.container{
		width: 1140px;
		margin: 0 auto;
	}
}
@media(max-width:1540px){
	.container{
		width: 1140px;
		margin: 0 auto;
	}
}
@media(max-width:1440px){
	.container{
		width: 1140px;
		margin: 0 auto;
	}
}
@media(max-width:1340px){
	.container{
		width: 1140px;
		margin: 0 auto;
	}
}
@media(max-width:1240px){
	.container{
		width: 1140px;
		margin: 0 auto;
	}
}
@media(max-width:1140px){
	.container{
		width: 1040px;
		margin: 0 auto;
	}
	.grow__content__title{
		font-size: 50px;
	}
}
@media(max-width:1040px){
	.container{
		width: 940px;
		margin: 0 auto;
	}
	.cloud__img{
		display: none;
	}
	.img{
		transform: translateY(0);
	}
	.grow>.container{
      display: block;
      justify-content: column;

	}
	.grow__photo{
		padding-top: 20px;
		text-align: center;
		justify-content: center;
	  width: 100%;
}
.grow__content{
	width: 100%;
	text-align: center;
}
.contant__box__photo__img{
	transform: translateX(40px);
}

.designing__body__link{
	font-size: 14px;
}
.logo__photor{
	flex-wrap: wrap;
	justify-content: space-between;
}

}
@media(max-width:940px){
	.container{
		width: 840px;
		margin: 0 auto;
	}
	.content__body__title{
		width: 70%;
	}
	.designing__body__link{
	font-size: 10px;
}
}@media(max-width:840px){
	.container{
		width: 740px;
		margin: 0 auto;
	}
	.designing__body__title{
		margin: 0 auto;
		text-align: center;
		width: 80%;
		font-size: 50px;
		padding-bottom: 30px;
	
		
	}
}
@media(max-width:740px){
	.container{
		width: 640px;
		margin: 0 auto;
	}
	.navbar-list{
		display: none;
	}
	.content__body__title{
		width: 100%;
	}
	.box-section>.container{
		display: block;
		justify-content: column;
	}
	.box-section__box{
	margin-top: 20px;
		justify-content: center;
		width: 100%;
	}
	.making>.container{
		display: block;
		justify-content: column;
		
	}
	.making__photo{
		width: 100%;
		margin-bottom: 20px;

	}
	.making__content{
	    text-align: center;
		width: 100%;
	}
	.client>.container{
		display: block;
		justify-content:column;
		align-items: center;
	}
	.client__content{
		text-align: center;
	   width: 100%;
	}
	.client__photo{
		margin-top: 30px;
	width: 100%;
	text-align: center;
	}

	.designing__body__link{
		width: 30%;
	}
	.contant__box__photo__img{
		background-image: none;
	}
	.contant__box{
		margin: 0 auto;
		display: block;
		justify-content: column;
		
		width: 85%;
	}
	.contant__box__form{
		margin: 0 auto;
		text-align: center;
		width: 90%;
	}
	.contant__box__photo{
		width: 90%;
	 
	}
	.contant__box__contant{
		text-align: center;
		padding-top: 20px;
	}
	.contant__box__phone-number,.contant__box-location,.contant__box-email{
		display: flex;
		padding: 10px 0;
		color: #000;
	
		
	}
}
@media(max-width:640px){
	.container{
		width: 540px;
		margin: 0 auto;
	}
	.contant__box{
		height: 850px;
	}
	.contact{
		height: 1400px;
	}
	.contant__body__email{
		width: 70%;
	}
	.footer a{
		display: none;
	}
}
@media(max-width: 540px){
	.container{
		width: 90%;
		margin: 0 auto;
	}
	.contact{
		height: 1500px;
	}
	.designing__body__title{
		margin: 0 auto;
		text-align: center;
		width: 100%;
		font-size: 40px;
		padding-bottom: 30px;
	
		
	}
	.designing__body__link{
		width: 40%;
	}
	.footer{
		padding: 20px 0;
		text-align: center;
		display: block;
		justify-content: column;
		align-items: center;
  
	}
	.footer__icons{
		padding-top: 20px;
		margin: 0 auto;
		text-align: center;
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: space-between;
  
	}
	
}
@media(max-width: 400px){
	.container{
		width: 90%;
		margin: 0 auto;
	}
	
	.designing__body__link{
		width: 45%;
	}
}
@media(max-width: 360px){
	.container{
		width: 90%;
		margin: 0 auto;
	}
	
	.designing__body__link{
		width: 50%;
	}
	.contant__box{
		height: 870px;
	}
	.contact{
		height: 1600px;
	}
}