*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	font-family: Manrope;
}
.container{
	width: 1140px;
	margin: 0 auto;
}

.designing{
	color: #fff;
	background-color:#5855EE;
	border-radius: 10px;
	position: relative;

}
.navbar{
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-list{
	display: flex;
	align-items: center;
}
.navbar__item{
  margin: 0 30px;
}
.navbar__item a{
	color: #fff;
	font-size: 15px;
}
.navbar__search{
	width: 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	

}
.navbar__search__span{
	color: #fff;
	font-size: 20px;
}
.navbar__search__btn{
background: #FFC9D0;
border:none;
border-radius: 10px;
color: #fff;
padding: 15px  20px;
}
.navbar__search__btn:hover{
background-color:  #FFC9aa;
}
.designing__body{
	
	padding: 70px 0;
}
.designing__body__title{
	margin: 0 auto;
	text-align: center;
	width: 70%;
	font-size: 70px;
	padding-bottom: 30px;

	
}
.designing__body__link{
    margin: 0 auto;
    width: 20%;
	display: block;
	text-align: center;
	justify-content: center;
	background-color: #fff;
	padding: 10px 30px;
	border-radius: 7px;
	color: #5855EE;
}
.designing__body__link:hover{
	background-color: #aff;

}
.designing-img__left,.designing-img__rigth{
position: absolute;
}
.designing-img__left{
top: 50%;
right:10%;
}
.designing-img__rigth{
top: 50%;
left:10%;
}
.img{
	display: flex;
	justify-content: center;
	transform: translateY(-25%);
}
.grow>.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.grow__photo{
	width: 45%;

}
.grow__photo__img{
	width: 100%;
}
.grow__content{
	width: 45%;
}
.grow__content__link{
	
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #5855EE;
}
.grow__content__link:hover{
	color: rgba(255, 30, 0, 0.568);
}
.grow__content__title{
	
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 82px;
color: #000000;
}
.grow__content__text{
	padding-top: 30px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #6B6B6B;
}
.box-section{
	padding: 70px 0;
}
.box-section>.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box-section__box{
	width: 30%;
	text-align: center;
padding: 30px 10px;
background: #FFF7ED;
border-radius: 15px;
}
.box__title{
	font-size: 20px;
	margin: 20px 0;
}
.box__text{
	margin: 0 auto;
	width: 70%;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;


text-align: center;

color: #6B6B6B;
}
.box2{
	background-color: #F2F3FF;

}
.box3{
	background-color:  #FFF0F3;
   }
  .making{
  	padding: 70px 0;
  	background-color: #5855EE;
  	border-radius: 20px;

  } 
  .making>.container{
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
  .making__photo{
  	width: 45%;
  }
 
  .making:hover{
  	opacity: 0.5;
  }
  .making__content{
  	/*padding-top: 100px;*/
  	width: 50%;
  }
  .making__title{
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 82px;

color: #FFFFFF;
margin-bottom: 50px;
  }
  .making__content__link{
   
	text-align: center;
	background-color: #fff;
	padding: 10px 30px;
	border-radius: 7px;
	color: #5855EE;
  }
  .making__img{
  	width: 100%;
  }
  .map{
  	padding: 70px 0;
  }
  .map__photo{
  	margin: 0 auto;
  	width: 80%;
  	display: flex;
  	justify-content: center;
  }
  .map__img{
  	width: 100%;
  }
  .client{

  }
  .client>.container{
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
  .client__content{
     width: 45%;
  }

  .client__content__link{
  	font-size: 18px;
  	font-weight: 600;


  }
  .client__content__link:hover{
  	color: red;
  }
  .client__content__title{
  	  font-family: Manrope;
      font-style: normal;
       font-weight: bold;
      font-size: 60px;
      line-height: 1.5;
      color: #000000; 
      padding-bottom: 30px;

  }
  .client__content__btn{
  	border-radius: 50%;
  	  width: 40px;
  	  height: 40px;
  	border: 2px solid #5956E9;
     box-sizing: border-box;
     margin:  0 15px;
     background-color: #fff;

  }
  .client__content__btn:hover{
  	background-color: #5956E9;
  	color: #fff;
  }
  .client__content__btn:hover .client__content__span{
  	color: #fff;
  } 
  .client__content__span{
  	color: #5956E9;
  	padding: 10px;
  	font-size: 25px;
  	font-weight: 100;
  }
  .client__photo{
  	position: relative;
  	width: 45%;
  	display: block;
  	border-radius: 20px;
  	border: 1px solid #ECEBFA;
  
  
   background-image:linear-gradient(to right, #ECEBFA ,#FFFFFF);
   padding: 40px;
   z-index: -2;
  }
  .shadow1{
  	position: 
  	width: 43%;
  	display: block;
  	border-radius: 20px;
  	border: 1px solid #ECEBFA;
   z-index: -1;
  }
  .client__photo__oval1{
  	position: absolute;
  	display: block;
  	background: #5956E9;
  	width: 50px;
  	height: 50px;
  	border-radius: 50%;
  	top: -9%;
  	right: 10%;
  }
  .client__photo__oval2{
  	position: absolute;
  	display: block;
  	background: #FFDC60;
  	width: 60px;
  	height: 60px;
  	border-radius: 50%;
  	bottom: -9%;
  	left: 10%;
  }
  .client__content__user{
  	display: flex;
  	align-items: center;
  }
  .client__content__user__img{
  	  padding-bottom: 30px;
  }
  .client__content__user__name{
  padding-left: 20px;
  }
  .client__content__user__name a{
  	
    font-style: normal;
     font-weight: 800;
    font-size: 16px;
    color: #5956E9;
  }
  .client__content__user__name a:hover{
  	color: red;
  }
  .client__photo__text{
   font-style: normal;
   font-weight: normal;
   font-size: 17px;
   line-height: 1.5;
   color: #6B6B6B;
  }

  .logo{
  	padding: 50px 0;
  }
  .logo__photo{
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
  .contact{
  	width: 100%;
  	height: 1350px;
  	background-image: url('../img/Vector 1.png');
  	background-size: cover;
  	padding: 20px 0;

  }
   .contact>.container{
   /*	display: flex;*/
   	/*justify-content: */
   }
   .contant__box{
   	margin: 0 auto;
   	display: flex;
   	justify-content: center;
   	/*padding-top:50px;*/
   	width: 85%;
   	height: 800px;
   	background: #fFFFFF;
      border-radius: 30px;
   }
   .contant__box__form{
   	width: 45%;
   }
   .contant__box__photo{
   	width: 45%;
     padding: 0;
   }
   .contant__box__photo__img{
   	width: 100%;
   	height: 100%;
    background-image: url('../img/Group 1215.png');
   	background-size: cover;
   	transform: translateX(49px);
   }
   .contant__box__form__link{
   	 
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 22px;
     color: #5855EE;
   }
   .contant__box__form__link:hover{
   	color: red;
   }
   .contant__box__form__title{
   	font-size: 60px;
   	padding-bottom: 40px;
   }
    .box__form__input{
      display: flex;
     align-items: center;
     background-color:#F6F6F6;
     border-radius: 10px;
     margin: 20px 0;
    }
   .box__form__input input{
   	width: 90%;
     padding: 10px 10px;
   	
   	border:none;
   background-color:#F6F6F6;
  margin: 10px 0;
   }
   .box__form__option{
   	width: 100%;
   	border:none;
   background: #F6F6F6;
   border-radius: 10px;
   padding: 18px 20px;
   margin: 10px 0;
   }
   .box__form__textare{
   	width: 100%;
   	border:none;
   background: #F6F6F6;
   border-radius: 10px;
   padding: 18px 20px;
   margin: 10px 0;
   }
   .box__form__btn{
   	margin-top: 30px;
   	   border:none;
   	   padding: 15px 20px;
       background: #5956E9;
       border-radius: 10px;
       color:#fff;
       font-size: 16px;
   }

   .subtext{
   	display: flex;
   }
   .contant__body{
   	padding: 70px 0;
   }
   .content__body__title{
   	margin: 0 auto;
   	width: 50%;
   	text-align: center;
   	font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 79px;
      color: #FFFFFF; 
      padding-bottom: 30px;
   }
   .contant__body__email{
   	 margin: 0 auto;
     width: 40%;
      
      justify-content: space-between;
      background: #6E6BFF;
      border-radius: 10px;
   }
 .contant__body__form{
 	width: 100%;
   	display: flex;
   	align-items: center;
   	justify-content: space-between;
   		padding: 10px 10px;

   }
  .contant__body__input input{
  	width: 100%;
  	background-color:inherit;
  	border:none;
  	color:#fff; 
  	padding: 20px;
  
  } 
  .contant__body__btn{
  	background-color:#fff;
  	border:none;
  	padding: 15px 20px;
  	border-radius: 10px;
  }
  .contant__box__contant{
  	padding-top: 400px;
  }
  .contant__box__phone-number,.contant__box-location,.contant__box-email{
  	display: flex;
  	padding: 20px 0;
  	color: #000;
  
  	
  }
   .contant__box__phone-number p{
   margin-left: 15px;

   }
   .contant__box-location  a{
     margin-left: 15px;
     font-size: 12px;
     color: #000;
   }
   .contant__box-email a{
   	margin-left: 15px;
   	color: #000;

   }

  .footer{
  	padding: 20px 0;
  	border-top: 1px solid rgba(255, 255, 255, 0.1);
  	display: flex;
  	justify-content: space-between;
  	align-items: center;

  }
  .footer a{
   color:#fff; 
  }
  .footer__icons{
  	display: flex;
  	align-items: center;

  }
  .footer__icons img{
  	margin: 0 10px;
  }